<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A minature static site generator written in bash">
<meta name="author" content="itsy-bitsy.org">
<link rel="shortcut icon" href="./images/favicon.png">
<link href="./css/default.css" rel="stylesheet"/>
<title>itsy-bitsy | teenie tiny static site generator</title>
<body>
%body

<div id="footer">
Built with love by <a href="http://itsy-bitsy.org/"><img
	style="margin:0px; padding:0px;"
    src="./images/itsy-small.png"/></a>
 . A project by <a href="http://sarahjamielewis.com">Sarah Jamie Lewis</a>.
</div>
</body>
</html>
